.button {
  padding: 10px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: var(--bg-color);
}

.button.active {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: var(--bg-color);
}
