.form {
  --gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .form {
    width: 100%;
  }
}

.form__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.form__top input,
.form__top .input__field {
  width: 100%;
}

.form__middle input {
  width: 100%;
}

.form__bottom {
  position: relative;
}

.form__bottom textarea {
  width: 100%;
}

input,
textarea {
  position: relative;
  font-family: var(--font);
  padding: 10px;
  font-weight: 500;
  border: 2px solid var(--font-color);
  outline: none;
}

input:focus,
textarea:focus {
  background-color: var(--primary-color-light);
  border-bottom-color: var(--primary-color);
}

input:target {
  background-color: transparent;
}

.input__field {
  position: relative;
}

input.field-error,
textarea.field-error {
  border-bottom-color: var(--danger);
  background-color: var(--danger-opacity);
}

.error-message {
  position: absolute;
  right: 0;
  top: 100%;
  color: var(--danger);
  font-style: italic;
  font-size: 0.8rem;
}

textarea {
  resize: none;
}

.form .button {
  width: fit-content;
}

.success-message {
  color: var(--primary-color);
  font-weight: 500;
}
