header {
  background-color: var(--bg-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__buttons .MuiSvgIcon-root {
  color: var(--font-color);
  cursor: pointer;
}

@media (max-width: 640px) {
  nav {
    display: none;
  }

  .header__buttons .button {
    display: none;
  }
}
