.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--section-padding) 0;
}

.home__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.home__info {
  text-align: center;
}

.home__title {
  font-size: 1.28em;
  font-weight: 400;
  margin-bottom: 20px;
}

.home__title strong,
.home__description strong {
  color: var(--primary-color);
}

.home__name {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.home__description {
  font-size: 1.5em;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .home__buttons {
    flex-direction: column;
    gap: 20px;
  }
}
