.navigation__menu-item {
  position: relative;
  cursor: pointer;
}

.navigation__menu-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--font-color);
  left: 0;
  bottom: -2px;
  transition: all 0.3s ease-in;
}

.navigation__menu-item:hover::before {
  width: 100%;
}
