.navigation {
  margin-left: auto;
  margin-right: 60px;
}

.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item.active {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .navigation {
    margin-right: auto;
  }
}
