.skills__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.skills__item {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-weight: 500;
}

@media (max-width: 768px) {
  .skills__menu {
    justify-content: center;
  }
}
