.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 10px var(--font-color-opacity);
}

.project__img {
  max-height: 160px;
}

.project .button {
  width: max-content;
  margin: 0 auto;
}

.project:hover {
  box-shadow: 0px 3px 25px var(--font-color-opacity);
}
